
/* This is from - coolors.co45
https://coolors.co/447604-6cc551-9ffcdf-52ad9c-47624f
*/

.calculator_buttons
{
	/* need grid for button layout */
	display: grid;
}

body
{
	font-family: tahoma;
	color: #9FFCDF ;
	background-color: #447604;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
	color: 6CC551;
	font-weight: bold;
}

h1, h2, h3, h4
{
	color: 52AD9C;
	font-family: Cambria, Cochin, Georgia, serif, "Futura";
	text-align: center;
}

h3, h4
{
	font-size: 200%;
	line-height: 0px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) 
{
	background-color: gray;
}

tr:nth-child(odd) 
{
	background-color: black;
	
}

a
{
	text-decoration: none;
	color: #f71735;
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}
